[user]
	email = dasc495@gmail.com
	name = Andres Crucitti
[http]
	sslVerify = false
[core]
	quotepath = false
	commitGraph = true
	editor = "/home/andres/nvim/bin/nvim"
[gc]
	writeCommitGraph = true
[receive]
	denyCurrentBranch = updateInstead
[alias]
    conflicts = diff --name-only --diff-filter=U
[log]
	date = local
[init]
	defaultBranch = master
[commit]
    verbose = true
[url "git@github.com:"]
	insteadOf = https://github.com/
