.old
.log
tags
.env
nvim/plugin
nvim/lazy-lock.json
.ai/plans/*/scratch/
/TODO
/todo
/nvim/TODO

traefik/acme/
traefik/certs/
traefik/docker-compose.yml
traefik/dynamic/ac495-sites.yml
traefik/cloudflared-media-config.yml
misc/docker/docker-compose.yml
traefik/dynamic/csm-tls.yml
backup-tools/backup-tools.conf
